/* soft reset do CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
 /* background: rgb(179, 231, 240);  */
    background-image: url("../imagens/fundo2.jpg"); 
    background-size: 100vw 100vh; 
    font-family: 'Source Code Pro', monospace;
    font-size: 12px;
 /*   font-variant: small-caps;   */
    image-rendering: auto;  
    height: 100vh;  
}

/* Se a tela tiver pelo menos 400px vai carregar estes estilos  */
@media (min-width: 400px) {
    body {
        font-size: 15px;
    }
}

/* Se a tela tiver pelo menos 600px vai carregar estes estilos  */
@media (min-width: 600px) {
    body {
        font-size: 20px;
    }
}

/* Se a tela tiver pelo menos 1000px vai carregar estes estilos  */
@media (min-width: 1000px) {
    body {
        font-size: 24px;
    }
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    background-color: rgb(0, 79, 168);
    color: white;  
    position: fixed;
    width: 100vw;  
    top: 0;
}

.menu ul {
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none; 
    display: block;
    padding: 10px 20px;

}

a:hover {
/*    text-decoration: underline;   */
    color: rgb(255, 0, 0);
}

.site-subtitle,
.site-title {
    color: rgb(0, 79, 168);
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

.site-title {
    font-size: 4em ;
    font-family: 'Orbitron', sans-serif;
    color: rgb(29, 5, 68);
}


.site-subtitle {
    font-style: italic;
}

.portofilio h2 {
    font-family: 'Source Code Pro', monospace;
    color: rgb(6, 31, 28);
    
}

.img-portfolio {
    height: 180px;
    width: 180px;
}